.taskCellLayer {
  /* border: 1px solid red; */
  border-inline-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  padding: .25rem;
  margin-inline-start: 3rem;
  margin-block-end: -.5rem;
  min-block-size: 3rem;
}


.taskCellLayer.is-active::before {
  content: '(Sin Título)';
  font-size: small;
  background: #c6dafc;
  padding: .25rem;
  display: block;
  min-block-size: 3rem;
  border-radius: .25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0,.3);
}


@media screen and (prefers-color-scheme: dark) {
  :root {
    --gray50: #fffffe;
    --gray10: #c1c1c1;
    --white: #222222;
  }
  .taskCellLayer.is-active::before {
    content: '(Sin Título)';
    font-size: small;
    color: var(--white);
    background: #96b5e6;
    min-block-size: 3rem;
    padding: .25rem;
    display: block;
    border-radius: .25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0,.3);
  }
}